In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_train = pd.read_csv('input/train.csv')
df_test = pd.read_csv('input/test.csv')

print("train ", df_train.shape)
print("test ", df_test.shape)

train  (891, 12)
test  (418, 11)

In [4]:
df_train.shape[0] + df_test.shape[0]

1309

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
print(df_train.groupby(['Pclass', 'Sex'])['Survived'].value_counts(normalize=True))

Pclass  Sex     Survived
1       female  1           0.968085
                0           0.031915
        male    0           0.631148
                1           0.368852
2       female  1           0.921053
                0           0.078947
        male    0           0.842593
                1           0.157407
3       female  0           0.500000
                1           0.500000
        male    0           0.864553
                1           0.135447
Name: Survived, dtype: float64

In [10]:
describe_fields = ['Age', 'Fare', 'Pclass', 'SibSp', 'Parch']

print('Train: males:')
print(df_train[df_train.Sex == 'male'][describe_fields].describe())

print('Test: males:')
print(df_test[df_test.Sex == 'male'][describe_fields].describe())

print('Train: females:')
print(df_train[df_train.Sex == 'female'][describe_fields].describe())

print('Test: females:')
print(df_test[df_test.Sex == 'female'][describe_fields].describe())

Train: males:
              Age        Fare      Pclass       SibSp       Parch
count  453.000000  577.000000  577.000000  577.000000  577.000000
mean    30.726645   25.523893    2.389948    0.429809    0.235702
std     14.678201   43.138263    0.813580    1.061811    0.612294
min      0.420000    0.000000    1.000000    0.000000    0.000000
25%     21.000000    7.895800    2.000000    0.000000    0.000000
50%     29.000000   10.500000    3.000000    0.000000    0.000000
75%     39.000000   26.550000    3.000000    0.000000    0.000000
max     80.000000  512.329200    3.000000    8.000000    5.000000
Test: males:
              Age        Fare      Pclass       SibSp       Parch
count  205.000000  265.000000  266.000000  266.000000  266.000000
mean    30.272732   27.527877    2.334586    0.379699    0.274436
std     13.389528   41.079423    0.808497    0.843735    0.883745
min      0.330000    0.000000    1.000000    0.000000    0.000000
25%     22.000000    7.854200    2.000000    0.000000    0.000000
50%     27.000000   13.000000    3.000000    0.000000    0.000000
75%     40.000000   26.550000    3.000000    1.000000    0.000000
max     67.000000  262.375000    3.000000    8.000000    9.000000
Train: females:
              Age        Fare      Pclass       SibSp       Parch
count  261.000000  314.000000  314.000000  314.000000  314.000000
mean    27.915709   44.479818    2.159236    0.694268    0.649682
std     14.110146   57.997698    0.857290    1.156520    1.022846
min      0.750000    6.750000    1.000000    0.000000    0.000000
25%     18.000000   12.071875    1.000000    0.000000    0.000000
50%     27.000000   23.000000    2.000000    0.000000    0.000000
75%     37.000000   55.000000    3.000000    1.000000    1.000000
max     63.000000  512.329200    3.000000    8.000000    6.000000
Test: females:
              Age        Fare      Pclass       SibSp       Parch
count  127.000000  152.000000  152.000000  152.000000  152.000000
mean    30.272362   49.747699    2.144737    0.565789    0.598684
std     15.428613   73.108716    0.887051    0.974313    1.105434
min      0.170000    6.950000    1.000000    0.000000    0.000000
25%     20.500000    8.626050    1.000000    0.000000    0.000000
50%     27.000000   21.512500    2.000000    0.000000    0.000000
75%     38.500000   55.441700    3.000000    1.000000    1.000000
max     76.000000  512.329200    3.000000    8.000000    9.000000

In [11]:
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score

In [12]:
df_train = pd.read_csv('input/train.csv')
df_test = pd.read_csv('input/test.csv')

In [13]:
X = df_train[['Pclass']].values
y = df_train['Survived'].values

In [14]:
model = DummyClassifier()
model.fit(X, y)
y_pred = model.predict(X)

score = accuracy_score(y, y_pred)
print(score)

0.5297418630751964

C:\Users\977ma\AppData\Roaming\Python\Python38\site-packages\sklearn\dummy.py:131: FutureWarning: The default value of strategy will change from stratified to prior in 0.24.
  warnings.warn("The default value of strategy will change from "

In [15]:
X = df_test[['Pclass']].values

df_test['Survived'] = model.predict(X)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/dummy.csv', index = False)

In [16]:
np.random.seed(2021)

from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn import svm

from sklearn.model_selection import cross_validate

In [17]:
df_train = pd.read_csv('input/train.csv')
df_test = pd.read_csv('input/test.csv')

In [18]:
df_train.select_dtypes(include=[np.int64, np.float]).head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [19]:
def feature_engineering(df):
    df['sex_cat'] = pd.factorize( df['Sex'] )[0]
    df['embarked_cat'] = pd.factorize( df['Embarked'] )[0]
    
    return df

def get_feats(df):
    feats = df.select_dtypes(include=[np.int64]).columns.values
    black_list = ['PassengerId', 'Survived']
    
    return [feat for feat in feats if feat not in black_list]

In [20]:
df = feature_engineering(df_train)
feats = get_feats(df)

In [21]:
train_y = df_train['Survived'].values
train_x = df[ feats ].values

In [22]:
df = feature_engineering(df_test)
test_x = df[ feats ]
test_y = df_test['PassengerId']

In [25]:
model = LogisticRegression()
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/logistic.csv', index=False)

In [26]:
model = SGDClassifier()
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/sgd.csv', index=False)

In [27]:
model = DecisionTreeClassifier()
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/DecisionTreeClassifier.csv', index=False)

In [32]:
model = RandomForestClassifier(max_depth=4, n_estimators=20, min_samples_leaf=8, random_state=2021)
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/RandomForestClassifier.csv', index=False)

In [29]:
model = ExtraTreesClassifier()
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/ExtraTreesClassifier.csv', index=False)

In [30]:
model = svm.SVC()
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/svm.csv', index=False)

In [31]:
model = svm.SVC()
model.fit(train_x, train_y)

df_test['Survived'] = model.predict(test_x)
df_test[ ['PassengerId', 'Survived'] ].to_csv('output/svm.csv', index=False)